.title {
  color: #228b3e;
  font-weight: 600;
}

.button {
  background-color: #228b3e;
  border: none;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}